.haderslide{
    overflow-x: hidden;
}
.imghaderslide{
    margin-bottom: -300px;
}

.slides{
    position: relative;
}
.slides .slick-prev,
.slides .slick-next{
background-color: black;
 color:  black;
  position: absolute;
  top: 25%;
  z-index: 1;


}
.slides .slick-prev{
  
    left: 5%;
}
.slides .slick-next{
    right: 5%;
}
@media only screen and (max-width: 600px){
    .imghaderslide{
        margin-bottom: -50px;
    }
    
}