.oneslide{
  width: 100vw;
  height: 250px;
  background-color: #fff;
  margin-top: 20px;
}
.phones{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    padding: 20px;
    object-fit: contain;
}
/* slides */
.slides1{
    position: relative;
}
.slides1 .slick-prev,
.slides1 .slick-next{
background-color: black;
 color:  black;
  position: absolute;
  top: 25%;
  z-index: 1;


}
.slides1 .slick-prev{
  
    left: 5%;
}
.slides1 .slick-next{
    right: 5%;
}
